@model OfferViewModel

@{
    ViewData["Title"] = "Booking - Not Created";
}

<h1>Offer Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <span>Booking was not created, please contact support</span>
        </div>
    </div>
</div>
<div>
    <a asp-controller="OfferBoard" asp-action="Index">Back to Offer Board</a>
</div>
